/* 
    Document   : ie6
    Created on : 21-oct-2012, 14:57:09
    Author     : Ronald
    Description:
        Purpose of the stylesheet follows.
*/

#mapa-cine{
    margin-left: -603px!important;
    margin-top: 20px!important;
}
#zoom{
    margin-left: -593px!important;
    margin-top: 30px!important;
}