@charset "utf-8";
/* CSS Document */

.overlays{
  position:fixed; 
  top:0px; 
  left:0px; 
  width: 100%; 
  height: 100%; 
  z-index:3009; 
  background-color: #000;
  opacity:.50;
  -moz-opacity: 0.50;
  filter: alpha(opacity=50);
  visibility:hidden;
}

.gifLoader{
  position:fixed;
  top:65%;
  left:45%;  
  width:128px;
  height:25px; 
  background-image:url(../images/cargando.gif);  
  z-index:4000;   
  visibility:hidden;
}
