@charset "utf-8";
/* CSS Document */



.cen{
	
     position:relative;
	 margin:0 auto;
	 width:750px;
 	 border:1px solid #CCC;
 
}



.cuerpo{
	/*
	behavior: url('PIE.htc');
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;*/
	position:relative;
	margin-top:5px;
	height:260px;
	width:750px;
	border:0px solid #CCC;
 }



.contorno{
  border:1px solid #000;
  font-weight:bold;
  font-size:16px;
  text-align:center; 
  background-color:#E2E2E2;	
}

.contornofecha{
  text-align:center;	
}

.titulo{
  text-align:center;
  font-size:40px; 
  font-weight:bold;	
  color:#999;
}

.session1{
  text-align:right;
  font-weight:bold;
  border-left:1px solid #000;
  border-top:2px solid #000;	
}

.session1_filas{
  text-align:right;
  font-weight:bold;
  border-left:1px solid #000;	
}
.session1Datos{
  text-align:left;
  font-weight:bold;
  border-left:1px solid #000;
  border-top:2px solid #000;	
}

.session1Datos_filas{
  text-align:left;
  font-size:14px;
  border-left:1px solid #000; 
}

.margen{
  border:1px solid #000;
  width:60%;
  margin:0 auto;	
 	  
}

.tablasession2{
  border-top:1px solid #000;	
  border-left:1px solid #000;
  border-right:1px solid #000;
}

.semicontorno{
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;	
    font-size:12px;
}

.contornofechaimpresion{
  border:1px solid #000;
  text-align:center;
  font-weight:bold;	
  font-size:9px;
}

.cabecerasession2{
  border-left: 1px solid #000;
  border-bottom:1px solid #000;
  text-align:center;
  font-weight:bold;
  background-color:#E2E2E2;	
  font-size:12px;
}

.fondo{
  background-color:#E2E2E2;	
}

.cabeceradatossession2{
  border-left: 1px solid #000;
  text-align:center;
  
}

.cabecerasession3{
  border-left:1px solid #000;
  border-bottom:1px solid #000;
  text-align:center;
  font-weight:bold;
  font-size:13px;
  background-color:#E2E2E2;		
}

.cabecerasession3_1{
  border-bottom:1px solid #000;
  text-align:center;
  font-weight:bold;
  font-size:13px;
  background-color:#E2E2E2;	
}

.contenido{
  border-left:1px solid #000;
  font-size:14px;
  border-bottom:1px solid #000;		
}

.contenidoLineaFinal{
  border-bottom:1px solid #000;	
}

.contenidoInicial{
 font-size:14px;
 border-bottom:1px solid #000;
 text-align:center;	
}

.contenidoFinal{
 font-size:14px;
 border-left:1px solid #000;
 border-bottom:1px solid #000;
 text-align:center;	
}


.sessionFinal_cobranza{
  position:absolute;
  top:93%;
  left:70px;
  width:80%;	
}

.sessionFinal_cobranza_2{
  position:absolute;
  top:95%;
  left:70px;
  width:80%;	
}

.letra_sessionFinal{
  text-align:center;
  font-size:11px;
  font-weight:bold;	
}

.contenidoLados{
  border-left:1px solid #000;
  font-size:14px;		
  text-align:center;
}

.total{
  border-left:3px solid #000;
  border-right:3px solid #000;
  border-bottom:3px solid #000; 
  border-top: 1px solid #000; 
  text-align:center;
  font-weight:bold;	
  font-size:18px;
  background-color:#E2E2E2;
}

.raya{
  text-decoration:underline;	
}

.division{
  border-top:1px solid #000;	
}

.negrita{
  font-weight:bold;	
  font-size:14px;
}

.tituloComentario{
 font-weight:bold;
 font-size:12px;	
}